* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f9;
  color: #333;
}

.painel {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: rgb(255, 68, 0);
  color: white;
  width: 220px;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.sidebar nav a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar nav a:hover,
.sidebar nav a.ativo {
  color: #fff;
  font-weight: bold;
}

/* Conteúdo principal */
.conteudo {
  flex: 1;
  padding: 40px;
}

.conteudo h1 {
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 250px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #444;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 68, 0);
}

/* Gráfico */
.grafico {
  margin-top: 40px;
}

.grafico h2 {
  margin-bottom: 20px;
}

.grafico-placeholder {
  width: 100%;
  height: 300px;
  background-color: #e2e8f0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}
img {
  max-width: 180px;
  height: auto;
}